/* General Navbar */
.navbar {
  background: rgba(255, 255, 255, 1); // Default solid background
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background 0.3s ease-in-out; // Smooth transition for background change
  box-shadow: 1px 1px 50px #05005a69;
}

/* Transparent Navbar when Scrolled */
.scrolled {
  background: rgba(255, 255, 255, 0); // Transparent background when scrolled
  box-shadow: 0px 0px 0px #05005a;
  .navLinks a {
    color: #ffffff;
  }
  .logo {
    color: #ffffff;
  }
}

/* Navbar Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconImage {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  padding: 2px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  gap: 8px;
  letter-spacing: 3px;
  color: #05005a;
}

/* Desktop Navigation Links */
.navLinks {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.navLinks li {
  cursor: pointer !important;
  font-size: 1.1rem;
}

.navLinks a {
  text-decoration: none;
  color: #05005a;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.navLinks a:hover {
  color: #1dbbff;
}

/* Get Notes Button */
.getNotes button {
  background: white;
  color: #007bff;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.getNotes button:hover {
  background: #f1f1f1;
}
.mobileSidebar {
  display: none;
}

/* Sidebar Get Notes Button */
.getNotesSidebar {
  background: white;
  color: #003063;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.getNotesSidebar:hover {
  background: #f1f1f1;
}
/* Responsive Design */
@media (min-width: 769px) and (max-width: 1050px) {
  .navLinks {
    gap: 15px;
  }
  .navLinks a {
    font-size: 13px;
  }
}

/* Responsive Design */

@media (max-width: 368px) {
  .sidebar {
    width: 100%;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 0px;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    .logo {
      padding: 0px 20px;
      color: #05005a;
    }
  }

  .scrolled {
    background: rgba(255, 255, 255, 1); // White background when not scrolled
    .logo {
      color: #05005a;
    }
  }

  .iconImage {
    background: rgba(255, 255, 255, 0); // Transparent background when scrolled
  }

  .navbar:not(.scrolled) {
    visibility: hidden;
    opacity: 0;
  }

  .navLinks {
    display: none;
  }

  /* Always show the sidebar on mobile */
  .mobileSidebar {
    position: fixed;
    padding: 0px 5px;
    bottom: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 0px -15px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    z-index: 100;
    display: flex;
    /* Default state: visible */
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  }

  /* Hide Sidebar */
  .mobileScrolled {
    visibility: hidden;
    opacity: 0;
  }

  /* Show Sidebar with Animation */
  .mobileScrolledUp {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.3s ease-in-out;
  }

  /* Smooth fade-in effect */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Sidebar Items */
  .mobileSidebar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    list-style: none;
  }

  .mobileSidebar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #969696;
    cursor: pointer;
  }

  .mobileSidebar ul li span {
    font-size: 0.55rem;
    margin-top: 4px;
  }

  .mobileSidebar ul li:hover,
  .mobileSidebar ul li.active {
    color: #140097;
  }
}
