// EventsTable.module.scss


@media (max-width:768px){
    .tableContainer {
        padding: 20px 0;
      }
      
      .smallText {
        font-size: 10px !important;
      }
      
      .actionButtons {
        display: flex;
        gap: 10px;
      }
      
}
