.notesTable {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    overflow-x: scroll;
  }
  .tableClass{
    min-width: 700px;
}

  
  @media (max-width:786px){
    .notesTable {
        width: 100%;
        padding: 0px 10px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .tableClass{
        min-width: 700px;
    }
  }