.getNotesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
  
  .banner {
    background: #2f0081;
    color: white;
    padding: 160px 20px;
    padding-top: 80px;
    font-size: 1.7rem;
    position: absolute;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    h1{
      width: 100%;
      max-width:1350px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  

  .flexAlign{
    width: 100%;
    padding: 0px 20px;
    padding-top: 180px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
  .getNotesContent{
    padding: 0px 0px;
    display: flex;
    width: 100%;
    max-width: 1350px;
    gap: 10px;
    

  }
  
  .tableContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 10px 100px rgba(0, 0, 0, 0.188);
    border-radius: 10px;
    justify-content: flex-start;

  }
  .tableContainerLoading{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 10px 100px rgba(0, 0, 0, 0.188);
    border-radius: 10px;
    justify-content: center;

  }
  .pagination{
    padding: 10px;
    margin-top: 0px!important;
    background-color: white;
    border-radius: 10px;
  }

  @media (max-width:768px) {
    .banner {
        padding: 100px 20px;
        padding-top: 125px;
        h1{
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.4rem;
        }
      }
    .getNotesContent{
        flex-direction: column;
    }
    .tableContainer{
      width: 100%;

    }
    .tableContainerLoading{
      width: 100%;
      background-color: white;
      min-height: 300px;
    }
  }